[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = iqbalee
	email = 77430937+Saltyee@users.noreply.github.com
